<div id="user_info">
	<img src="<%= session[:user].photo %>" />
	<p id="name"><%= session[:user].name %></p>
	<p id="opinion">
		<%= @reviews.where("opinion = 1").count %> awesome
		<%= @reviews.where("opinion = 0").count %> awful
	</p>
</div>
<div class="hr">
<div id="user_reviews">
	<div class="count"><%= @reviews.count %> opinions</div>
	<% @reviews.each do |review| %>
	<div class="review">
		<img src="<%= review.photo %>" />
		<div class="description">
			<div class="name"><%= review.dish.name %></div>
			<div class="place"><%= review.dish.restaurant.name %></div>
			<div class="address"><%= review.dish.restaurant.address %></div>
		</div>
	</div>	
</div>