<ul id="thelist">
	<li>	
		<div id="user_info">
			<img src="<%= session[:user].photo %>" />
			<p id="name"><%= session[:user].name %></p>
			<p id="opinion">
				<%= @reviews.where("opinion = 1").count %> awesome
				<%= @reviews.where("opinion = 0").count %> awful
			</p>
		</div>
	</li>
	<li>
		<div class="hr"></div>
		<div id="user_reviews">
			<div class="count"><%= @reviews.count %> opinions</div>
			<% i = 0 %>
			<% @reviews.each do |review| %>
			<% i += 1 %>
					<div class="review" style="background-image: url(<%= review.photo %>)">
						<img class="review_img" src="/images/trsp.gif" />
						<div class="opinion_img <%= review.opinion == true ? 'like' : 'dislike' %>"><img src="/images/trsp.gif" /></div>
						<div class="description">
							<div class="name"><%= review.dish.name %></div>
							<div class="place"><%= review.dish.restaurant.name %></div>
							<div class="address"><%= review.dish.restaurant.address %></div>
						</div>
					</div>
			<%if i % 3 == 0%><br /><%end%>
			<% end %>	
	</li>
</ul>