<div id="user_info">
	<img src="<%= session[:user].photo %>" />
	<p id="name"><%= session[:user].name %></p>
	<p id="opinion">
		<%= @reviews.where("opinion = 1").count %> awesome
		<%= @reviews.where("opinion = 0").count %> awful
	</p>
</div>
<div class="hr">
<div id="user_reviews">
	<div class="count"><%= @reviews.count %> opinions</div>
	<% @reviews.each do |review| %>
		<div class="review">
			<img class="review_img" src="<%= review.photo %>" />
			<img class="opinion_img" src="<%= opinion_img %>" />
			<div class="description">
				<div class="name"><%= review.dish.name %></div>
				<div class="place"><%= review.dish.restaurant.name %></div>
				<div class="address"><%= review.dish.restaurant.address %></div>
			</div>
		</div>
	<% end %>	
</div>