<div id="header">
	<div class="close_map hidden">Close</div>
	<a id="bb" class="hidden" href="/">Back</a>
	<div id="search_restaurant"><img src="/images/trsp.gif" /></div>
	<a id="logo" href="/"><img id="logo_img" src="/images/trsp.gif" /></a></div> 
<div id="content">
	<div id="wrapper"> 
		<div id="scroller"> 
			<div id="map">
				<ul id="thelist">
					<li>
						<div id="search_on_map" class="hidden">search this location</div>
						<div id="search_map_canvas"></div>
						<div id="search_map_field" class="hidden">
							<input type="text" name="search_field" id="search_field" placeholder="Search..." >
							<div id="search_me">Search</div>
						</div>
						<script>
							console.log(markerList)
							
							var selectField = document.getElementById('search_field');
							selectField.addEventListener('mousedown', function(e) {e.stopPropagation();}, false);	
							selectField.addEventListener('touchstart', function(e) {e.stopPropagation();}, false);	
							
							map = load_map('search_map_canvas');
							<%= raw @restaurants_info %>
							var places = []
							for (var i = 0; i < r_info.length; i++) {
						    place = []
								place[0] = r_info[i]['name'];
								place[1] = r_info[i]['lat'];
								place[2] = r_info[i]['lng'];
								place[3] = 1;
								place[4] = r_info[i]['id'];
								places.push(place)
							}
							setMarkers(map, places)
						</script>
					</li>
				<% @restaurants.each do |restaurant| %>
					<li>
					<div class="restaurant">
						<div class="info">
							<%= remoteness(restaurant, cookies[:lat],cookies[:lng]) %>
							<a class="restaurant_name" href="restaurants/show/<%= restaurant.id %>"><%= restaurant.name.length > 15 ? restaurant.name[0..12] + '...' : restaurant.name %></a>
							<div class="rate">
								<div class="star fill"></div>
								<div class="star fill"></div>
								<div class="star fill"></div>
								<div class="star half"></div>
								<div class="star empty"></div>
								<div class="rating"><div class="ico"></div><%= restaurant.yelp_reviews_count %> on Yelp</div>
							</div>
						</div>
						<div class="address"><%= restaurant.address.length > 30 ? restaurant.address[0..27] + '...' : restaurant.address %></div>
						<div class="stats"><%= restaurant.cuisine.length > 30 ? restaurant.cuisine[0..27] + '...' : restaurant.cuisine %> | <% restaurant.bill.times do %>$<% end %></div>	
					</div>
					<div class="hr"></div>
					</li>
				<% end %>
				</ul>
			</div>