<ul id="thelist">
	<li>
		<div id="search_map_canvas" class="hidden"></div>
		<script>
			
			if (window.location.hash == '#_=_') window.location.hash = '';
						
			var selectField = document.getElementById('search_field');
			selectField.addEventListener('mousedown', function(e) {e.stopPropagation();}, false);	
			selectField.addEventListener('touchstart', function(e) {e.stopPropagation();}, false);
			
			
			if (check_iPhone() == 1 || check_Android() == 1) {
				$('#search_map_canvas').removeClass('hidden')
				$('#header').removeClass('hidden')
				map = load_map('search_map_canvas');
			} else {
				$('#container').addClass('big')
				$('#content').addClass('big')
				$('#wrapper').addClass('big')
				$('#search_map_field').parent().addClass('web_s')
				
				if ($.cookie("ask_version") != 1) {
					$('#web_popup').removeClass('hidden')
				}
				
				$('#web_header').removeClass('hidden')
				$('#web_search').removeClass('hidden')
				$("#application").removeClass('hidden')
				$('#search_map_canvas_big').removeClass('hidden')
				map = load_map('search_map_canvas_big');
			}
							
			<%= raw @restaurants_info %>
			
			var places = []
			
			for (var i = 0; i < r_info.length; i++) {
		    place = []
				place[0] = r_info[i]['name'];
				place[1] = r_info[i]['lat'];
				place[2] = r_info[i]['lng'];
				place[3] = 1;
				place[4] = r_info[i]['id'];
				place[5] = r_info[i]['rating'];
				place[6] = r_info[i]['type'];
				places.push(place)
			}
			setMarkers(map, places)
		</script>
	</li>
	<li>
		<div id="search_on_map" class="hidden"><img src="/images/b_search_here_blank.gif" /></div>
	</li>
	<li>
		<div id="search_map_field" class="hidden">
			<input type="text" name="search_field" id="search_field" placeholder="Find places" >
			<div id="search_me">Search</div>
		</div>
	</li>
<%i = 0%>
<% if @restaurants.count > 0 %>
	<% @restaurants.each do |restaurant| %>
		<%i += 1%>
		<li>
		<div class="restaurant">
			<div class="distance"># <%=i%><br /> <%= remoteness(restaurant, @lat, @lng) %></div>
			<div class="rate">					
				<%= yelp_rating(restaurant) %>
				<div class="rating"><div class="ico"></div><%= restaurant.yelp_reviews_count %> on Yelp</div>
			</div>
			<div class="info">
				<a class="restaurant_name" href="restaurants/show/<%= restaurant.id %>"><%= restaurant.name.length > 15 ? restaurant.name[0..12] + '...' : restaurant.name %></a>
				<div class="address"><%= restaurant.address.length > 30 ? restaurant.address[0..27] + '...' : restaurant.address %></div>
				<div class="stats"><%= restaurant.cuisine.length > 30 ? restaurant.cuisine[0..27] + '...' : restaurant.cuisine %> | <% restaurant.bill.to_i.times do %>$<% end %></div>
			</div>
		</div>
		<div class="hr"></div>
		</li>
	<% end %>
<% else %>
	<li class="no_result">Hm. We couldn't find what you are looking for. Try a different search.</li>
<% end%>
</ul>