<li>
<div class="restaurant">
	<div class="info">
		<%= remoteness(restaurant, cookies[:lat],cookies[:lng]) %>
		<a class="name" href="restaurants/show/<%= restaurant.id %>"><%= restaurant.name.length > 15 ? restaurant.name[0..12] + '...' : restaurant.name %></a>
		<div class="rate">
			<div class="star fill"></div>
			<div class="star fill"></div>
			<div class="star fill"></div>
			<div class="star half"></div>
			<div class="star empty"></div>
			<div class="rating"><div class="ico"></div><%= restaurant.yelp_reviews_count %> on Yelp</div>
		</div>
	</div>
	<div class="address"><%= restaurant.address %></div>
	<div class="stats"><%= restaurant.cuisine %> | <% restaurant.bill.times do %>$<% end %></div>	
</div>
<div class="hr"></div>
</li>