		<div id="wrapper"> 
			<div id="scroller">
				<div id="top_dishes"> 
					<ul id="thelist">
						<li>
							<div class="restaurant">
								<div class="info">
									<div class="name"><%= @restaurant.name %></div>

									<div class="rate">
										<%= yelp_rating(@restaurant) %>
										<div class="rating"><div class="ico"></div><%= @restaurant.yelp_reviews_count %> on Yelp</div>
									</div>
								</div>
								
								<div class="address"><%= @restaurant.address %></div>
								<div class="stats"><%= @restaurant.cuisine %> | <% @restaurant.bill.to_i.times do%>$<% end %></div>	
								<div class="share"><img src="/images/trsp.gif" /></div>
							</div>
							<div class="hr"></div>
							<div id="banner">
								Based on <%= @restaurant.yelp_reviews_count %> reviews on Yelp, Zagat, Foursquare
							</div>
						</li>
						
						<% @restaurant.dishes.where('photos > 0 || likes > 0').order('likes DESC').each do |d| %>
						<li>
							<% if dish = d.reviews.where("dish_id = #{d.id} AND remote_photo IS NOT NULL").first %>
								<div class="dish" style="background-image: url('<%= dish.remote_photo %>')">
							<% else %>
								 <div class="dish" style="background-image: url('/images/no_foto.png')">
							<% end %>
								
								<div class="name"><%= d.name.length > 25 ? d.name[0 .. 25] + ' ...' : d.name %></div>
								
								<div class="dish_info_container">				
									<div class="rating"><span><%= d.likes >= 1000 ? ">#{d.likes.to_s[0]}K" : d.likes %></span></div>
									<div class="dish_info">
										<div class="name"><%= d.name.length > 190 ? d.name[0 .. 190] + ' ...' : d.name %></div>
										
										<div class="price"><% if d.price.to_i > 0 %><%= d.price %> <%= d.currency %><% end %></div>
										<div class="stats">
											<div class="dislike"><%= d.dislikes %></div>
											<div class="like"><%= d.likes %></div>
										</div>
										<div class="hr_b"></div>
										<div class="description"><%= d.description %></div>
										<%= awesome_buttons(session[:user],d) %>	
									</div>
								</div>
								
								<% if dish && %>
									<div class="comment">
										<div class="user_img" style="background-image: url('<%= d.reviews.where("dish_id = #{d.id} AND remote_photo IS NOT NULL").first.user.remote_photo %>')"></div>
										<% comment = d.reviews.where("dish_id = #{d.id} AND remote_photo IS NOT NULL").first.comment.to_s %>
										<%= comment.length > 100 ? comment[0 .. 97] + ' ...' : comment %>
									</div>	
								<% end %>
							
							</div>
						</li>
						<% end %>
					
					</div>
				</ul>
				</div>
				</div>
				</div>