<li>
	<div class="review">
		<script><%= raw @restaurants_info %></script>
		<div class='opinion_popup'></div>
			<div class="dish_info">
				<div class="place_info">
					
					<div class="flag">
						<div class="flag_content">
							<div class="dish_name"><%= review.dish.name.length > 20 ? review.dish.name[0 .. 18] + '...' : review.dish.name %></div> 
							<a class="place_name" href="/restaurants/show/<%= review.dish.restaurant.id %>"><%= review.dish.restaurant.name.length > 22 ? review.dish.restaurant.name[0 .. 20] + '...' : review.dish.restaurant.name %></a> 
							<div class="place_address"><%= review.dish.restaurant.address.length > 33 ? review.dish.restaurant.address[0 .. 30] + '...' : review.dish.restaurant.address  %></div> 
							<div class="hr"></div> 
							<div class="stats"> 
								<div class="likes"><%= review.dish.likes %></div> 
								<div class="profiles"><%= review.dish.likes + review.dish.dislikes %></div> 
								<div class="photos"><%= review.dish.photos %></div> 
							</div>
						</div>
						<img class="flag_img" src="images/flag.png" />
					</div>

					<div class="content"> 
						<div id="map_canvas"></div>
						<script>map = load_map('map_canvas')</script>
						<div class="info"> 
							<div class="name"><%= review.dish.name.length > 20 ? review.dish.name[0 .. 18] + '...' : review.dish.name %></div> 
							<div class="dislike"><%= review.dish.dislikes %></div> 
							<div class="like"><%= review.dish.likes %></div> 
						</div> 
						<div class="hr"></div> 
						<div class="description"><%= review.comment %></div> 
						<div class="price">$15</div> 
					</div>
			
					<img class="trsp" src="images/trsp_dish_info.gif" />
				</div>
			</div>

			<img class="cover" src="images/curtain.png" />
			<div class="img_review_wrapper" style="background-image: url('<%= review.photo %>')" >
				<img class="img_review" src="images/trsp_review.gif" />
			</div>
		
			<div class="user_info">
				
				<div class="user_photo">
					<div class="photo_like" style="background-image: url('<%= review.user.photo %>')"></div>
					<div class="photo_dislike" style="background-image: url('<%= review.user.photo %>')"></div>
				</div>
				
				<div class="stats">
					<div class="name"><%= review.user.name %></div>
					<div class="opinion"><%= review.opinion == true ? 'It`s Awesome': 'It`s Awful'%></div>
					<a href="#" class="disagree"><%= review.count_disagree %> user(s) disagree</a>
				</div>
				
				<div class="users like">	
					
					<div class="think_so">
						<div class="num">+<%= review.count_agree %></div>
						<div class="text">think so</div>
					</div>
				
					<div id="profiles" class="profiles">
						<div class="profiles_container">
							<%= users_agreed(session[:user], review) %>
						</div>										
					</div>
				
				</div>
			</div>
		
		</div>
		<div class="status" href="reviews/st/213"><img class="trsp_status" src="images/trsp_status.gif" /></div>
		<div class="btn_agree" href="reviews/agree/213"><img class="trsp_btn" src="images/trsp_btn.gif" /></div>
		<div class="btn_disagree" href="reviews/disagree/213"><img class="trsp_btn" src="images/trsp_btn.gif" /></div>
		<div class="rhr"></div>
</li>